#imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="file"] {
  display: none;
}

.imagePreview {
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  overflow: hidden;
}

.imagePreview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}